@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
ul,ol,dl{
	list-style: none;
}
h1{
	font-size: 0;
}
.m_w{
	width: 1168px;
	margin: 0 auto;
}
.top-area{
	height: 69px;
}
.top-wrap{
	border-bottom: 1px solid rgb(192, 192, 192);
}
.flex-col-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flex-between{
	display: flex;
	justify-content: space-between;
}
.flex-row{
	display: flex;
}
#top-memu div ul li{
	margin-left: 30px;
}
#top-memu div ul li:first-child {
	margin-left: 0;
}

.layla{
	background-color: rgb(64, 128, 128);
}
