@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
ul,ol,dl{
	list-style: none;
}
h1{
	font-size: 0;
}
.m_w{
	width: 1168px;
	margin: 0 auto;
}
.top-area{
	height: 70px;
}
.top-wrap{
	border-bottom: 1px solid #d6d6d6;
}

.bottom-area{
	height: 20px;
}
.bottom-wrap{
	border-top: 1px solid #d6d6d6;
}
.flex-col-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flex-between{
	display: flex;
	justify-content: space-between;
}
.flex-row{
	display: flex;
}
#top-memu div ul li{
	margin-left: 30px;
}
#top-memu div ul li:first-child {
	margin-left: 0;
}

.image{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center; 
}
